auth_key
sr_solution
http_server1/nohup.out
http_server2/nohup.out
router/core
router/sr
router/sr_stub.tar.gz
router/tags
router/.cache
router/TAGS
router/compile_commands.json
router/router-submit.tar.gz
*~
*.pyo
*.pyc
*.o
*.d
*.swp
*.dump
*.tar
